body {
    background-color: whitesmoke ;
}

/* Presentacion y titulo de la web */
.header {
    display: flex;
    background-color: #3A6B33;
    width: 100%;
    height: 194px;
}

#logo {
    height: 100%;
    width: auto;
    padding-left: 0px;
}

.headerText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
}

h1 {
    font-size: 100px;
}

#slogan {
    color: #CBD18F;
    font-family: cursive;
    font-weight: lighter;
    font-style: italic;
    font-size: 25px;
    margin-top: -90px;
}


/* Modifica todos los titulos */
.yellowHeadline {
    color: #E3B448;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
}

a {
    text-decoration: none;
}


/* Presentacion de las recetas */
.reciepes-container {
    /*border: solid 3px red;*/

    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 90%;
    margin-top: 96px;
    margin-left: 5%;
    margin-right: 5%;
    flex-wrap: wrap;
}

.reciepe {
    /*border: solid 1px blue;*/

    display: flex;
    flex-wrap: wrap;
    padding-top: 22.05px;
    max-width: 333.9px;
    height: 372.6px;
    margin-bottom: 40px;
    background-color: #3A6B33;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.486);
    transition: transform 0.35s ease-out 0.15s;
}

.reciepe:hover {
    transform: scale(1.1);    
}

.dishImg {
    height: 229.5px;
    width: 289.8px;
    border-radius: 25px;
    margin-left: 22.05px;
}

.dishName {
    /*border: solid 1px red;*/

    font-size: 30px;
    margin-left: 22.05px;
    width: 200px;
    height: 65px;
    margin-top: 10px;
}

.flag {
    height: 50px;
    width: 50px;
    margin: auto 22.05px 22.05px auto;
}


/* Parte de abajo de la web */
.bottom {
    background-color: #3A6B33;
    width: 100%;
    height: 100px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    color: #CBD18F;
    margin-top: 20px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}